<!-- Member logos -->
<div class="margin-top-20">
  <h2 class="heading-line text-center" style="color:rgb(245,147,49); font-weight: bold;">Our Members</h2>
  <div class="container-fluid text-center">
    <br>
    <div class="row text-center">
      <a href="{{ "/members/avl" | relURL }}">
      <div class="col-md-3"><img src="images/members/avl-logo.svg" height="50px" alt="AVL logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
      <a href="{{ "/members/bosch" | relURL }}">
      <div class="col-md-4"><img src="images/members/bosch-logo.svg" height="50px" alt="BOSCH logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
      <a href="{{ "/members/dlr" | relURL }}">
      <div class="col-md-4"><img src="images/members/dlr-logo.svg" height="50px" alt="DLR logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
      <a href="{{ "/members/fraunhofer" | relURL }}">
      <div class="col-md-4"><img src="images/members/fraunhofer-logo.png" height="50px" alt="FRAUNHOFER logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
      <a href="{{ "/members/itemis" | relURL }}">
      <div class="col-md-4"><img src="images/members/itemis-logo.png" height="50px" alt="ITEMIS logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
      <a href="{{ "/members/vector" | relURL }}">
      <div class="col-md-4"><img src="images/members/vector-logo.svg" height="50px" alt="VECTOR logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
    </div>
  </div>
</div>