<!-- Upcoming Meetings & Conferences and Tweets -->
<div class="row margin-top-40">
  <div class="col-sm-12 news-list">
    <h2 class="heading-line text-center" style="color:rgb(245,147,49); font-weight: bold;">
      <span>Meetings & Conferences</span>
    </h2>
    {{ .Inner }}
  </div>
  <div class="col-sm-12 news-list">
    <div class="news-list-col margin-bottom-20">
      <h2 class="heading-line text-center" style="color:rgb(245,147,49); font-weight: bold;">
        <span>Our Tweets</span>
      </h2>
      <a class="twitter-timeline" data-height="700" href="https://twitter.com/open_mobility?ref_src=twsrc%5Etfw">Tweets by openMobility</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>