{{ define "main" }}
<!-- Member logos -->
<div class="margin-top-20">
  <h2 class="heading-line text-center" style="color:rgb(245,147,49); font-weight: bold;">Our Members</h2>
  <div class="container-fluid text-center">
    <br>
    <div class="row text-center">
        <a href="{{ "/members/avl" | relURL }}">
          <div class="col-md-4"><img src="images/members/avl-logo.svg" height="50px" alt="AVL logo" style="pointer-events:none; margin-bottom: 20px;"></div>
          </a>
      <a href="{{ "/members/bosch" | relURL }}">
      <div class="col-md-5"><img src="images/members/bosch-logo.svg" height="50px" alt="BOSCH logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
      <a href="{{ "/members/dlr" | relURL }}">
      <div class="col-md-5"><img src="images/members/dlr-logo.svg" height="50px" alt="DLR logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
      <a href="{{ "/members/fraunhofer" | relURL }}">
      <div class="col-md-5"><img src="images/members/fraunhofer-logo.png" height="50px" alt="FRAUNHOFER logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
      <a href="{{ "/members/vector" | relURL }}">
      <div class="col-md-5"><img src="images/members/vector-logo.svg" height="50px" alt="VECTOR logo" style="pointer-events:none; margin-bottom: 20px;"></div>
      </a>
    </div>
  </div>
</div>
<div class="margin-top-40" style="padding: 35px; background: white;">
  <p><img src="images/gears.svg" width="200px" alt="gears" style="pointer-events:none; margin-bottom: 20px;float:left">
    Mobility modelling and traffic simulation technologies are important tools for <b>testing autonomous driving functions</b>, developing <b>new mobility solutions</b> and for creating <b>digital twins</b> of urban areas. This working group shapes and fosters the development of required software tools and frameworks based on validated mobility models in order to provide a common platform for industrial applications and academic research.<br><br>
    <a href="{{ "/vision/" | relURL }}"><button type="button" class="btn btn-secondary" style="margin-bottom:5px;">Read our Vision</button></a>
    <a href="https://www.eclipse.org/org/workinggroups/openmobility_charter.php"><button type="button" class="btn btn-secondary"style="margin-bottom:5px;">View Group Charter</button></a>
</div>
<!-- Upcoming Meetings & Conferences and Tweets -->
<div class="row margin-top-40">
  <div class="col-sm-12 news-list">
      <h2 class="heading-line text-center" style="color:rgb(245,147,49); font-weight: bold;">
        <span>Meetings & Conferences</span>
      </h2>
      <div id="event-list-container" class="news-items" data-template-id="events-list" data-count="3" data-publish-target="openmobility">
      </div>
      <ul class="list-inline block-summary-more margin-bottom-40">
        <li><a href="https://events.eclipse.org">View all</a></li>
        <li class="news-list-links-view-all"><a href="https://newsroom.eclipse.org/node/add/events">Submit Event</a></li>
      </ul>
    </div>
  <div class="col-sm-12 news-list">
    <div class="news-list-col margin-bottom-20">
      <h2 class="heading-line text-center" style="color:rgb(245,147,49); font-weight: bold;">
        <span>Our Tweets</span>
      </h2>
      <a class="twitter-timeline" data-height="700" href="https://twitter.com/open_mobility?ref_src=twsrc%5Etfw">Tweets by openMobility</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer-custom" }}
 <div class="container-fluid text-center" style="padding-top:50px; height: 150px; background-color: #0F2C5C;">
  <a href="https://accounts.eclipse.org/mailing-list/openmobility"><button type="button" class="btn btn-lg btn-primary">Join our Mailing list <i class="fa fa-envelope"></i></button></a>
</div>
<script id="events-list" type="text/html">
{{ readFile ("/js/templates/events.mustache") | safeHTML }}
</script>
{{ end }}