{{ define "breadcrumbs"}}{{ partial "breadcrumbs.html" . }}{{end}}
{{ define "main" }}
<main>
  <div class="{{ if (and (isset .Page.Params "container") (ne .Page.Params ""))}}{{ .Page.Params.container }}{{else}}container{{end}}">
    {{ if ne .Page.Params.hide_sidebar "true" }}
      <div class="row">
        <div class="col-md-18 padding-bottom-30">
    {{ end }}
    <h1 style="font-weight:bold; color: rgb(245,147,49)">{{.Title}}</h1><br>
    {{ .Content }} 
    {{ $paginator := .Paginate .Data.Pages }}
      {{ if ne $paginator.NumberOfElements 0 }}

      <style type=text/css>
      .member-placement {
        margin:10px; 
        padding:30px; 
        background:#fff;
        display: block;
        color: #484848;
        height: 150px;
      }
      .member-placement:hover {
        background: #fcdab2;
        text-decoration: none;
      }
      </style>
      
        <div class="container-fluid"> <!-- --->
          <div class="row">
            {{ range $paginator.Pages }}
            
                <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}">
                  <div class="col-sm-10 text-center member-placement">
                    <p class="media-text">{{ .Summary }}</p></div>
                </a>
                
              
          {{ end }}
          {{ template "_internal/pagination.html" . }}
        </div>
        </div> <!-- --->
      
    {{ end }}
    {{ if ne .Page.Params.hide_sidebar "true" }} 
      </div>
        <div class="col-md-6  padding-bottom-30">
          {{ partial "sidebar.html" . }}
        </div>
      </div>
    {{ end }}
    </div>
</main>
{{ end }}

