{{ define "main" }}
  {{ .Content }} 
  {{ $paginator := .Paginate .Data.Pages }}
  {{ if ne $paginator.NumberOfElements 0 }}
  <div class="container-fluid">
    <div class="row">
      {{ range $paginator.Pages }}
        <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}">
          <div class="col-sm-10 text-center member-placement">
            <p class="media-text">{{ .Summary }}</p>
          </div>
        </a>
        {{ end }}
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  {{ end }}
{{ end }}

