{{ define "breadcrumbs"}}{{ partial "breadcrumbs.html" . }}{{end}}
{{ define "main" }}
<main>
  <div class="{{ if (and (isset .Page.Params "container") (ne .Page.Params ""))}}{{ .Page.Params.container }}{{else}}container{{end}}">
    {{ if ne .Page.Params.hide_sidebar "true" }}
    <div class="row">
      <div class="col-md-18 padding-bottom-30">
        {{ end }}
        {{ if (and (ne .Title .Page.Params.headline) (ne .Page.Params.hide_page_title "true"))}}
        <h1 style="font-weight:bold; color: rgb(245,147,49)">{{ .Title }}</h1><br>
        {{ end }}
        {{ .Content }}  
        {{ if ne .Page.Params.hide_sidebar "true" }}
      </div>

      <div class="row margin-bottom-50 margin-top-20">
        <div class="col-sm-12 news-list">
          <div class="news-list-col margin-bottom-40">
            <h2 class="heading-line text-center">
              <span><a href="{{ "/news/announcements" | relURL }}">Announcements</a></span>
            </h2>
            {{ range first 5 (where (index .Site.Taxonomies.categories "announcements").Pages "Section" "news") }}
            <ul class="news-list-media list-unstyled">
              <li>
                <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}" class="media media-link match-height-item" >
                  <p class="media-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
                  <h4 class="media-heading">{{ .Title }}</h4>
                  <p class="media-text">{{ .Summary }}</p>
                </a>
              </li>
            </ul>
            {{ end }}
            <ul class="list-inline news-list-links">
              <li class="news-list-links-view-all"><a href="{{ "/news/announcements" | relURL }}">View all</a></li>
              <li class="news-list-links-rss"><a href="{{ "categories/announcements/index.xml" | relURL }}" title="Subscribe to our RSS-feed">Subscribe to our RSS-feed <i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 news-list">
          <div class="news-list-col margin-bottom-40">
            <h2 class="heading-line text-center">
              <span><a href="{{ "/news/community-news" | relURL }}">Community News</a></span>
            </h2>
            {{ range first 5 (where (index .Site.Taxonomies.categories "community").Pages "Section" "news") }}
            <ul class="news-list-media list-unstyled">
              <li>
                <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}" class="media media-link match-height-item">
                  <p class="media-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
                  <h4 class="media-heading">{{ .Title }}</h4>
                  <p class="media-text">{{ .Summary }}</p>
                </a>
              </li>
            </ul>
            {{ end }}
            <ul class="list-inline news-list-links">
              <li class="news-list-links-view-all"><a href="{{ "/news/community-news" | relURL }}">View all</a></li>
              <li class="news-list-links-rss"><a href="{{ "categories/community/index.xml" | relURL }}" title="Subscribe to our RSS-feed">Subscribe to our RSS-feed <i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    {{ end }}
  </div>
</main>
{{ end }}