<!-- nav -->
<aside class="hidden-sm hidden-xs" id="main-sidebar">
  <ul id="leftnav" class="ul-left-nav fa-ul hidden-print">
    <li class="separator">
      <a class="separator" href="{{.Site.BaseURL}}">
        Eclipse openMobility
      </a>
    </li>
    <li>
      <i class="fa fa-chevron-right"></i>
      <a href="{{ "/news/announcements" | relURL }}" target="_self">
        Announcements
      </a>
    </li>
    <li>
      <i class="fa fa-chevron-right"></i>
      <a href="{{ "/news/community-news" | relURL }}" target="_self">
        Community News
      </a>
    </li>
    <li>
      <i class="fa fa-chevron-right"></i>
      <a href="{{ "/members" | relURL }}" target="_self">
        Members
      </a>
    </li>
    <li>
      <i class="fa fa-chevron-right"></i>
      <a href="{{ "/working-group/become-a-member" | relURL }}" target="_self">
        Become a Member
      </a>
    </li>
    <li>
      <i class="fa fa-chevron-right"></i>
      <a href="https://wiki.eclipse.org/OpenMobility" target="_self">
        Wiki
      </a>
    </li>
    <li>
      <i class="fa fa-chevron-right"></i>
      <a href="{{ "/technologies/eclipse-sumo" | relURL }}" target="_self">
        Eclipse SUMO
      </a>
    </li>
    <li>
        <i class="fa fa-chevron-right"></i>
        <a href="https://sumo.dlr.de/docs/Downloads.html" target="_self">
          Download Eclipse SUMO
        </a>
      </li>
  </ul>
</aside>